.contain {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

.banner {
    background-image: url(./assets/background.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
max-height: 1092px;
}

.reserveAnimation {
    animation: reserveModalAnimation .4s 1;
}

@keyframes reserveModalAnimation {
    from {
        transform: scale(0);

    }

    to {
        transform: scale(1);

    }
}


.banner_menu {
    transform: translateX(-94%);
    align-items: end;
    transition: all .4s ease-in-out;
}

.banner_menu.active {
    transform: translateX(0);
    align-items: center;
    padding: 70px 0;
}


.home_content_container {
    max-width: 1076px;
    margin: 0 auto;
}


@media (max-width: 1400px) {
    .home_content_container {
        max-width: 700px;
    }

}

.pre_title {
    position: relative;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    align-items: center;
}

.pre_title::after {
    margin-left: 15px;
    content: '';
    height: 3px;
    width: 60px;
    background-color: var(--accent-color);
    display: block;
}